<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/league_style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="utf-8">
    <title>league_data</title>
  </head>
  <body>
    <div class="xx presearch">
      <p class="rev-block"><span>你英雄联盟的用户名</span></p>
      <div class="xy">
        <div class="vcmvz" aria-hidden="true">
          <div class="ghgtu" role="progressbar">
            <div class="kiasd"></div>
            <div class="yuuyx"></div>
            <div class="yuri">
              <span class="I3ed"></span>
            </div>
            <div class="QeRzxYT">
              <span class="I4ed"></span>
            </div>
          </div>
        </div>
        <form id="riot-api-form" action="{{ url_for('riot_api_call') }}" method="post">
          <input dataset id="input-box" class="presearch-input" name="presearch-input" type="text">
        </form>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script src="{{url_for('static', filename='js/input_handler.js')}}"></script>
</html>
