body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(20px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  color: #121314;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow: visible;
  display: block;
  direction: ltr;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #C8E6C9 inset;
}
form{
  position: relative;
  padding-top: 5vh;
}
.search_done{
  top: 0% !important;
}
:root {
  --placeholder-color: #121314;
}
input {
	padding:.25em .5em .3125em;
	color:var(--placeholder-color);
	transition:all .100s;
  border: none;
  spellcheck: false;
}
/* span {
  padding:.25em .5em .3125em;
  color:var(--placeholder-color);
  transition:all .100s;
  border: none;
} */


.presearch{
  height: 100vh !important;
  padding-top: 10vh !important;
}
.presearch>p{
  top: 0 !important;
}


.presearch-input{
  font-size:1.75em;
  background: transparent;
}
.aftersearch-input{
  float: right;
  font-size: 1em;
  background: #f8f8ff;
}
#input-box{
  display: inline-block;
  content: '';
  border-bottom: none;
  left: 100;
  animation: appear-underline 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes appear-underline {
  0%{
    border-bottom: 0.5px solid #dadafd;
  }
  50%{
    border-bottom: 1px solid #f99191;
  }
  100%{
    border-bottom: 10px solid #dafdda;
  }
}


.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.arrow:hover{
  margin-left: -10px;
  cursor: pointer;
}



input:focus{
	outline:none;
	color:var(--placeholder-color);
	border: none;
}
canvas {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	pointer-events:none;
}
.vcmvz{
  height: 14px;
  overflow: hidden;
  z-index: 5;
}
.ghgtu{
  height: 14px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  width: 100%;
}
.kiasd{
  -webkit-background-size: 20px 8px;
  background-size: 20px 8px;
  background-repeat: repeat-x;
  background: white;
  visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.yuuyx{
  background: linear-gradient(100deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
  height: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkite-transform 100ms ease;
  -webkit-transition: transform 1000ms ease;
  transition: transform 100ms ease;
  width: 100%;
  position: absolute;
}
.yuri{
  -webkit-animation: primary-indeterminate-translate 2s infinite linear;
  animation: primary-indeterminate-translate 2s infinite linear;
  transform: scaleX(0);
  height: 100%;
  position: absolute;
  width: 100%;
}
.I3ed{
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
  animation: primary-indeterminate-scale 2s infinite linear;
  background-color: #EC7EBE;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.I4ed{
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
  animation: primary-indeterminate-scale 2s infinite linear;
  background-color: #EF93C8;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.QeRzxYT{
  -webkit-animation: auxiliary-indeterminate-translate 2s infinite linear;
  animation: auxiliary-indeterminate-translate 2s infinite linear;
  visibility: visible;
  -webkit-transition: none;
  transition: none;
  transform-origin: top left;
  height: 100%;
  position: absolute;
  width: 100%;
}
@keyframes auxiliary-indeterminate-translate{
  0% {
      -webkit-animation-timing-function: cubic-bezier(.15,0,.515058,.409685);
      animation-timing-function: cubic-bezier(.15,0,.515058,.409685);
      -webkit-transform: translateX(-54.888891%);
      transform: translateX(-54.888891%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(.310330,.284058,.8,.733712);
    animation-timing-function: cubic-bezier(.310330,.284058,.8,.733712);
    -webkit-transform: translateX(-17.236978%);
    transform: translateX(-17.236978%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(.4,.627035,.6,.902026);
    animation-timing-function: cubic-bezier(.4,.627035,.6,.902026);
    -webkit-transform: translateX(29.497274%);
    transform: translateX(29.497274%);
  }
  100% {
    -webkit-transform: translateX(105.388891%);
    transform: translateX(105.388891%);
  }
}
@keyframes primary-indeterminate-scale{
  0% {
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(.334731,.124820,.785844,1);
    animation-timing-function: cubic-bezier(.334731,.124820,.785844,1);
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(.06,.11,.6,1);
    animation-timing-function: cubic-bezier(.06,.11,.6,1);
    -webkit-transform: scaleX(.661479);
    transform: scaleX(.661479);
  }
  100% {
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
}
@keyframes primary-indeterminate-translate{
   0%{
     -webkit-transform: translateX(-145.166611%);
      transform: translateX(-145.166611%);
   }
   20% {
      -webkit-animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
      animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
      -webkit-transform: translateX(-145.166611%);
      transform: translateX(-145.166611%);
  }
  59.15% {
      -webkit-animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
      animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
      -webkit-transform: translateX(-61.495191%);
      transform: translateX(-61.495191%);
  }
  100% {
      -webkit-transform: translateX(55.444446%);
      transform: translateX(55.444446%);
  }
}
h2{
  font-size: 24px;
  text-align: center;
}

/** do this to make loading bar at top of page */
.loadingbar{
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    display: webkit-box;
    display: webkit-flex;
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.loadingbar_sub{
  padding: 0px 24px 24px;
  overflow: hidden;
  flex-grow: 1;
  -webkit-box-flex: 1;
}
.xx {
  height: 10vh;
  box-sizing: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
  z-index: 2;
  flex-direction: column;
  margin-right: 10em;
  margin-left: 8em;
}
.xy{
  padding: 0px 24px 36px;
  overflow: hidden;
  flex-grow: 1;
  -webkit-box-flex: 1;
}
p{
  font-weight: 200;
  font-size: 1em;
  padding: 0.4em 0em;
  position: absolute;
  top: -10%;
}


.bird-box {
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.logo {
    height: 250px;
    width: 100%;
    text-align: center;
    font-size:
    position: absolute;
    top: 50%;
    margin-top: -50px;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: .2rem;
    text-align: center;
}
.fore-bird {
    display: flex;
    position: absolute;
    left: 55%;
    top: 100px;
}
.ranked_stats{
  display: flex;
  flex-direction: column;
  font-weight: 200;
}
.lp{
  margin-top: 88px;
}
.profile-pic{
  width: 200px
}
.back-bird {
    width: 100%;
    position: absolute;
    margin-left: -480px;
    z-index: 4;
}

.rev-block span{
  opacity: 0;
  animation: appear-text 1s linear forwards;
}
.rev-block{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:1px;
  word-wrap: break-word;
  margin-left: 35%;
}
.rev-block:after{
  content: '';
  font-weight: 600;
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgba(218, 253, 253, 1);
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 1000%;
  }
}
@keyframes appear-text{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.gamelist{
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-content: flex-end;
}
.gamelist>.gameitem {
  margin-top: 8px;
  position: relative;
  border-radius: 3px;
  margin-bottom: 8px;
}
.gameitem>.content {
    padding-top: -8px;
    display: table;
    width: 850px;
    border-collapse: collapse;
    border: 0
    /* border: 1px solid #cdd2d2; */
}
.gameitem>.content>div {
    display: table-cell;
    height: 96px;
    vertical-align: middle;
}
.gameitem .lose>.content {
    table-layout: fixed;
}
.gameitem .win>.content {
    table-layout: fixed;
    /*border-color: #9EC2E2;*/
}
.gameitem>.content>.gamestats {
    width: 100px;
    text-align: center;
    font-size: 13px;
    color: #555;
    line-height: 16px;
}
.gameitem>.content>.gamestats>.gametype {
    font-weight: bold;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gameitem .lose>.content>.gamestats>.bar {
    background: #cea7a7;
}
.gameitem>.content>.gamestats>.bar {
    display: block;
    width: 27px;
    margin: 5px auto;
    height: 2px;
    background: #cdd2d2;
}
.gameitem .lose>.content>.gamestats>.gameresult {
    color: #c6443e;
    background-color: #121314;
}
.gameitem .win>.content>.gamestats>.gameresult {
    background-color: #dafdda;
    color: #121314;
}
.gameitem>.content>.gamestats>.gameresult {
    font-weight: bold;
}
.gameitem>.content>.gamesettinginfo {
    width: 100px;
    font-size: 0;
}
.gameitem>.content>.gamesettinginfo>.championimage {
    display: inline-block;
    width: 46px;
    height: 46px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
}
.gameitem>.content>.gamesettinginfo>.championimage .image {
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}
.gameitem>.content>.gamesettinginfo>.summonerspell {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.gameitem>.content>.gamesettinginfo>.summonerspell>.spell {
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 2px;
    border-radius: 3px;
    overflow: hidden;
}
.gameitem>.content>.gamesettinginfo>.summonerspell>.spell:first-child {
    margin-left: 0;
}
.gameitem>.content>.gamesettinginfo>.summonerspell>.spell>.image {
    display: block;
    width: 100%;
    height: 100%;
}
.gameitem>.content>.gamesettinginfo>.championname {
    margin-top: 8px;
    font-size: 11px;
    color: #555;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gameitem>.content>.KDA {
    font-size: 11px;
    text-align: center;
}
.gameitem>.content>.KDA>.KDA {
    color: #879292;
    font-size: 15px;
    white-space: nowrap;
    padding:.25em .5em .3125em;

}
.gameitem>.content>.KDA>.KDA>span.kill{
    color: #2e8b57;
    font-weight: bold;
    padding:.25em .5em .3125em;

}
.gameitem>.content>.KDA>.KDA>span.death {
    color: #c6443e;
    font-weight: bold;
    padding:.25em .5em .3125em;

}

.gameitem>.content>.KDA>.KDAratio {
    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    padding:.25em .5em .3125em;

}
.gameitem>.content>.KDA>.badge {
    display: inline-block;
    color: #fff;
    margin: 8px auto 0;
    font-size: 10px;
}
.gameitem>.content>.KDA>.badge>.text {
    border-radius: 7px;
    display: inline-block;
    padding: 2px 5px;
    line-height: 1;
}
.gameitem>.content>.KDA>.badge>.MVP {
    border-radius: 9px;
    background-color: #e19205;
    border: solid 1px #b88a2a;
}
.gameitem>.content>.KDA>.KDAratio>.KDAratio{
  padding:.25em .5em .3125em;

    color: #353a3a;
}
.gameitem>.content>.stats {
    width: 100px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    color: #555e5e;
}
.gameitem>.content>.kp{
  color: #c6443e;
}
.gameitem>.content>.items{
  font-size: 0;
}
.gameitem>.content>.items>.itemlist{
  width: 96px;
  margin: 0 auto;
}
.gameitem>.content>.items .item {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-top: 2px;
    margin-right: 2px;
    overflow: hidden;
}
.gameitem .lose>.content>.items>.itemlist>.item {
    background-color: #cea7a7;
}
.gameitem>.content>.items .item>.image {
    width: 100%;
    height: 100%;
}
.gameitem>.content>.followplayers {
    width: 270px;
    font-size: 0;
}
.team {
    float: left;
    width: 50%;
}
.summoner {
    display: block;
    width: 100px;
    height: 23px;
    margin-left: 3px;
    text-align: left;
    white-space: nowrap;
}
.summonername:hover{
  color: #121314;
  font-weight: 300;
}
.championimage {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.summonername {
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  font-size: 12px;
  color: #555;
}
.subteamimage{
  width: 16px !important;
  height: 16px !important;
}
.content:hover{
    -webkit-box-shadow: 1 2px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    box-shadow: 1 2px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    -webkit-box-shadow: 0 1px 1px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,0.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,0.15));
    box-shadow: 0 2px 2px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,0.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,0.15));
    cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* artist of this button: Adrien Grsmto*/
.ab {
  display: inline-block;
  float: right;
  animation: hue-rotate 10s linear infinite;
}
.button {
  -webkit-font-smoothing: antialiased;
  background-color: #cdd0cb;
  border: none;
  color: #121314;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}
.button:hover {
  background-color: #90feb5;
  color: #121314;
}
.button:active {
  transform: scale(0.95);
}
.button--bubble {
  position: relative;
  z-index: 2;
  color: #cdd2d2;
  background: none;
}
.button--bubble:hover {
  background: none;
}
.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #121314;
}
.button--bubble:hover + .button--bubble__effect-container .button {
  background: #f5f4f4;
}
.button--bubble:active + .button--bubble__effect-container {
  transform: scale(0.95);
}
.button--bubble__container {
  position: relative;
  display: inline-block;
}
.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #121314;
  transition: background 0.1s ease-out;
}
.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}
.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  transition: background 0.1s ease-out;
}
.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}
.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}
.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}
.game_deets{
  background: #e89d99;
}
.is-hidden {
  display: none;
}
.game_deets_content{
  background: #ededed;
  border-top: none;
}
.game_deets_table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.yi{
  width: 44px;
}
.er, .san{
  width: 18px;
}
.wu{
  width: 65px;
}
.liu, .shi{
  width: 55px;
}
.qi{
  width: 76px;
}
.ba{
  width: 66px;
}
.jiu{
  width: 48px;
}
.shiyi{
  width: 170px;
}

tr:hover{
  background-color: #f3f3f3;
}

.胜利 {
  border: 1px solid #fff;
  background-color: #dafdda;
}
.失败{
  border: 1px solid #fff;
  background-color: #f99191;
}
.wo-tr:first-child{
  padding-left: 15px;
  text-align: left;
  color: blue;
}
.wo-tr-thead{
  height: 32px;
  color: #121314;
  font-size: 12px;
  font-weight: normal;
}
.ni{
  background-color: #fff;
  /*border: solid 1px #d8c0be;*/
}
.ni-cell{
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 4px;
  padding: 3px 0;
  vertical-align: middle;
}
.ni-champ-encaser{
  position: relative;
  display: block;
}
.ni-champ-image{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.ni-champ-level{
  position: absolute;
  left: -3px;
  bottom: -3px;
  width: 15px;
  height: 15px;
  background: black;
  color: white;
  font-size: 10px;
  text-align: center;
  text-height: 15px;
}

.ni-spell-image{
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.ni-summoner-name{
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: elipsis;
  overflow: hidden;
  font-size: 12px;
}

.ni-rank{
  color: #555e5e;
  font-size: 11px;
  text-align: center;
}
.ni-lr-score{
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
}
.ni-lr-score-text{
  color: #333333;
  font-size: 11px;
  height: 14px;
}
.ni-lr-score-place{
  color: #fff;
  border-radius: 7px;
  padding: 2px;
  margin: 0 auto;
  width: 30px;
  height: 10px;
  line-height: 1;
  background-color: #a9a9a9;
}

.ni-kill, .ni-deaths, .ni-assists{
  color: #121314;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -5px;
}
.ni-kill{
  background:#dafdda;
}
.ni-deaths{
  background: #f99191;
}
.ni-assists{
  background: #dadafd;
}
.ni-kda{
  color: #555e5e;
  font-size: 11px;
}


.ni-damage{
  text-align: center;
}
.ni-champ-damage{
  color: #555e5e;
  font-size: 11px;
}
.ni-champ-damage-progress{
  width: 50px;
  height: 6px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.ni-champ-damage-progress-full{
  height: 100%;
  background-color: #ee5a52;
}


.ni-wards{
  text-align: center;
  color: #555e5e;
  font-size: 11px;
}

.ni-cs{
  text-align: center;
  color: #777;
  font-size: 11px;
}
.ni-cs-value{
  color: #555e5e;
}

.ni-items{
  text-align: center;
  font-size: 0;
}
.ni-item{
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 1px;
  vertical-align: middle;
}
.ni-item-image{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.yi-qi-fen-kai{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #121314;
  border-right: 1px solid #121314;
  background-color: #f3f3f3;
}
.yi-qi-fen-kai-team:first-child{
  padding-right: 0;
  padding-left: 10px;
  text-align: left;
}
.yi-qi-fen-kai-team{
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  padding-right: 10px;
  text-align: right;
  line-height: 30px;
}
.yi-qi-fen-kai-team-objective-score{
  display: inline-block;
  font-size: 11px;
  color: #555;
  filter: grayscale(1);
}
.yi-qi-fen-kai-team-objective-score-image{
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  height: 16px;
  filter: grayscale(1);
}
.yi-qi-fen-kai-summary-graph{
    flex: 0 1 390px;
}
.yi-qi-fen-kai-summary-graph-total-container:first-child{
  padding-top: 8px;
  padding-bottom: 8px;
}
.yi-qi-fen-kai-summary-graph-total-container{
  display: flex;
  justify-content: center;
  padding: 0 8px;
}
.graph--text{
  font-size: 10px;
  color: #222222;
}
.graph--title{
  text-align: left;
  width: 60px;
}
.graph--text--left{
  text-align: left;
}
.graph--data{
  width: 40px;
}
.graph--container{
  flex: 0 1 290px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin: 0 3px;
}
.graph--losing--team{
  /* background-color: #f99191; */
  margin-right: 4px;
  flex: 1;
  height: 10px;
}
.winningteam{
  /* background-color: #dafdda; */
  margin-left: 4px;
  flex: 1;
  height: 10px;
}

.xgboost_image{
  height: 200px;
  width: 800px;
}
