<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/league_style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>league_data</title>
  </head>
  <body>
    <header class="bird-box">

          {% for key,value in form.items() %}
            <br>
            <h2>
              <div class="loadingbar">
                <div class="loadingbar_sub">
                  <div class="vcmvz" aria-hidden="true">
                    <div class="ghgtu" role="progressbar">
                      <div class="kiasd"></div>
                      <div class="yuuyx"></div>
                      <div class="yuri">
                        <span class="I3ed"></span>
                      </div>
                      <div class="QeRzxYT">
                        <span class="I4ed"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="back-bird">
                  <a href="{{ url_for('show_league') }}"><i class="arrow left"></i></a>
              </div>
              <div class="logo">
                {{value}}
                {% if ranked_info['tier'].values[0] != 'unranked': %}
                <div class="a">
                  <b id="persons-rank">{{ ranked_info['tier'].values[0] }}</b>
                  {{ ranked_info['rank'].values[0] }}

                </div>
                {% endif %}
                {% if ranked_info['tier'].values[0] == 'unranked': %}
                <div class="a">
                  unranked
                </div>
                {% endif %}
              </div>
              <div class="fore-bird">
                <img class="profile-pic" src="{{ rank }}" alt="">
                <div class="ranked_stats">
                {% if ranked_info['tier'].values[0] != 'unranked': %}
                  <div class="lp "> <span> {{ ranked_info['leaguePoints'].values[0] }} LP </span></div>
                  <div class="wins "> <span> {{ ranked_info['wins'].values[0] }} W </span></div>
                  <div class="loses "> <span> {{ ranked_info['losses'].values[0] }} L </span></div>
                {% endif %}
                </div>
              </div>
            </h2>
          {% endfor %}
      </header>
    <div class="xx">
      <div class="xy">

          <!-- inputbox -->
          <form id="riot-api-form" class="search_done" action="{{ url_for('riot_api_call') }}" method="post">
            <input dataset id="input-box" class="aftersearch-input" name="input" type="text">
          </form>
        </div>

        <div class="ab">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
              <feComposite in="SourceGraphic" in2="goo"/>
            </filter>
          </defs>
        </svg>

        <span class="button--bubble__container">
          <a id="xgboost_reveal" class="button button--bubble">
            Boost my stats
          </a>
          <span class="button--bubble__effect-container">
            <span class="circle top-left"></span>
            <span class="circle top-left"></span>
            <span class="circle top-left"></span>

            <span class="button effect-button"></span>

            <span class="circle bottom-right"></span>
            <span class="circle bottom-right"></span>
            <span class="circle bottom-right"></span>
          </span>
        </span>
        </div>
      </div>
              <!-- <p class="rev-block again"><span>search again!</span></p> -->
              <!-- progress bar -->
            {% for a in dfs: %}
            {% set D_df = dfs[a]  %}
            <div class="gamelist">
              <div class="gameitem">
                <div class="gameitem {{ 'win' if D_df.loc[D_df['summonerName'] == name]['win'].values[0] == '胜利' else 'lose' }}">
                  <div class="content">
                    <div class="gamestats">
                      <div class="gametype">
                        {{ D_df.loc[D_df['summonerName'] == name]['gameMode'].values[0] }}
                      </div>
                      <div class="timestamp">
                        {% if D_df.loc[D_df['summonerName'] ==name]['lastGamePlayedWhen'].values[0] != 0: %}
                          {{ D_df.loc[D_df['summonerName'] == name]['lastGamePlayedWhen'].values[0] }} days ago
                        {% else %}
                          today
                        {% endif %}
                      </div>
                      <div class="bar"></div>
                      <div class="gameresult">
                        {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }}
                      </div>
                      <div class="gamelength">
                        {{ D_df['gameDuration'].values[0] }}
                      </div>
                    </div>
                    <div class="gamesettinginfo">
                      <div class="championimage">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['championImage'].values[0] }}" alt="">
                      </div>
                      <div class="summonerspell">
                        <div class="spell">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell1Image'].values[0] }}" alt="">
                        </div>
                        <div class="spell">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell2Image'].values[0] }}" alt="">
                        </div>
                      </div>
                      <div class="championname">
                        {{ D_df.loc[D_df['summonerName'] == name]['championName'].values[0] }}
                      </div>
                    </div>
                    <div class="KDA">
                      <div class="KDA">
                        <span class="kill"> {{ D_df.loc[D_df['summonerName'] == name]['kills'].values[0] }}  </span>
                        <span class="death"> {{ D_df.loc[D_df['summonerName'] == name]['deaths'].values[0] }}  </span>
                        <span class="assist"> {{ D_df.loc[D_df['summonerName'] == name]['assists'].values[0] }} </span>
                      </div>
                      <div class="KDAratio">
                        <span class="KDAratio"> KDA: {{ D_df.loc[D_df['summonerName'] == name]['kda'].values[0] }} </span>
                      </div>
                      <div class="badge">
                        <span class="text MVP"> {{ D_df.loc[D_df['summonerName'] == name]['MVP'].values[0] }}  </span>
                      </div>
                    </div>
                    <div class="stats">
                      <div class="level">
                        Lvl {{ D_df.loc[D_df['summonerName'] == name]['champLevel'].values[0] }}
                      </div>
                      <div class="cs">
                        <span class="cstip">
                          CS: {{ D_df.loc[D_df['summonerName'] == name]['totalMinionsKilled'].values[0] }}
                          ( {{ D_df.loc[D_df['summonerName'] == name]['minionsKilledPerMinute'].values[0] }} )
                        </span>
                      </div>
                      <div class="kp">
                          KP: {{ D_df.loc[D_df['summonerName'] == name]['killParticipation'].values[0] }} %
                      </div>
                    </div>
                    <div class="items">
                      <div class="itemlist">
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage0'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage1'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage2'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage3'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage4'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage5'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage6'].values[0] }}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="followplayers names">
                        <!-- split team div for each 5 players -->
                       <div class="team">
                        {% for i in range(0, 5): %}
                          {% if D_df.loc[i]['teamId'] == 100: %}
                              <div class="summoner">
                                <div class="championimage">
                                  <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                                </div>
                                <div class="summonername">
                                  {{ D_df.loc[i]['summonerName'] }}
                                </div>
                              </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                        <div class="team">
                        {% for i in range(5,10): %}
                          {% if D_df.loc[i]['teamId'] == 200: %}
                              <div class="summoner">
                                <div class="championimage">
                                  <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                                </div>
                                <div class="summonername">
                                  {{ D_df.loc[i]['summonerName'] }}
                                </div>
                              </div>
                          {% endif %}
                       {% endfor %}
                     </div>
                    </div>
                  </div>

                  <!-- collapsable game details -->
                  <div class="game_deets is-hidden">
                    <div class="game_deets_content">
                      <table class="game_deets_table">
                        <!-- set up the width of our columns -->
                        <colgroup>
                          <col class="yi">
                          <col class="er">
                          <col class="san">
                          <col class="si">
                          <col class="wu">
                          <col class="liu">
                          <col class="qi">
                          <col class="ba">
                          <col class="jiu">
                          <col class="shi">
                          <col class="shiyi">
                        </colgroup>
                        <!-- set up table header row -->
                        <thead class="wo {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }} ">
                          <tr class="wo-tr">
                            <th class="wo-tr-thead" colspan="4">
                              <!-- game result of summoner's team-->
                              {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }}
                            </th>
                            <th class="wo-tr-thead">
                              Tier
                            </th>
                            <th class="wo-tr-thead">
                              lr score
                            </th>
                            <th class="wo-tr-thead">
                              KDA
                            </th>
                            <th class="wo-tr-thead">
                              dmg to champions
                            </th>
                            <th class="wo-tr-thead">
                              wards
                            </th>
                            <th class="wo-tr-thead">
                              CS
                            </th>
                            <th class="wo-tr-thead">
                              items
                            </th>
                          </tr>
                        </thead>
                        <!-- now onto the actual table content -->
                        <!-- start with first 5 players -->
                        {% for i in range(0, 10): %}
                        {% if D_df.loc[i]['teamId'] == D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]: %}

                        <tbody class="ni">
                          <tr class="ni-tr">
                            <td class="ni-cell">
                              <a class="ni-champ-encaser">
                                <img class="ni-champ-image" src="{{ D_df.loc[i]['championImage'] }}">
                                <div class="ni-champ-level">
                                   {{ D_df.loc[i]['champLevel'] }}
                                </div>
                              </a>
                            </td>
                            <td class="ni-cell">
                              <div class="spell">
                                <img class="ni-spell-image" src="{{ D_df.loc[i]['spell1Image'] }}" alt="">
                              </div>
                              <div class="spell">
                                <img class="ni-spell-image" src="{{ D_df.loc[i]['spell2Image'] }}" alt="">
                              </div>
                            </td>
                            <td class="ni-cell ni-runes">
                            </td>
                            <td class="ni-cell ni-summoner-name">
                              {{ D_df.loc[i]['summonerName'] }}
                            </td>
                            <td class="ni-cell ni-rank">
                              placeholder
                            </td>
                            <td class="ni-cell ni-lr-score">
                              <div class="ni-lr-score-text">
                                1-10
                              </div>
                              <div class="ni-lr-score-place">
                                1st
                              </div>
                            </td>
                            <td class="ni-cell ni-KDA">
                              <span class="ni-kill">{{D_df.loc[i]['kills']}}</span>
                              <span class="ni-deaths">{{D_df.loc[i]['deaths']}}</span>
                              <span class="ni-assists">{{D_df.loc[i]['assists']}}</span>
                              <div class="ni-kda">{{D_df.loc[i]['kda']}} , {{D_df.loc[i]['killParticipation']}}%</div>
                            </td>
                            <td class="ni-cell ni-damage">
                              <div class="ni-champ-damage">
                                {{D_df.loc[i]['totalDamageDealtToChampions']}}
                              </div>
                              <div class="ni-champ-damage-progress">
                                <div class="ni-champ-damage-progress-full" style="width: {{D_df.loc[i]['playerDamageAsFractionOfTeamDamage']}} ;"></div>
                              </div>
                            </td>
                            <td class="ni-cell ni-wards">
                              <div class="ni-words-bought">
                                {{D_df.loc[i]['visionWardsBoughtInGame']}}
                              </div>
                              <div class="ni-vision-score">
                                vis score: {{D_df.loc[i]['visionScore']}}
                              </div>
                            </td>
                            <td class="ni-cell ni-cs">
                              <div class="ni-cs-value">
                                {{D_df.loc[i]['totalMinionsKilled']}}
                              </div>
                              <div class="ni-cs-per-minute-value">
                                {{D_df.loc[i]['minionsKilledPerMinute']}}/min.
                              </div>
                            </td>
                            <td class="ni-cell ni-items">
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage0'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage1'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage2'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage3'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage4'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage5'] }}" alt="">
                              </div>
                              <div class="ni-item">
                                <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage6'] }}" alt="">
                              </div>
                            </td>


                          </tr>
                        </tbody>

                        {% endif %}
                        {% endfor %}

                        </div>
                      </table>

                      <div class="yi-qi-fen-kai">

                        <!-- team A -->
                        <div class="yi-qi-fen-kai-team">
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/baronicon.png" alt="">
                            {{
                              D_df.loc[D_df['summonerName'] == name]['baronKills'].values[0] }}
                          </div>
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/dragonicon.png" alt="">
                            {{ D_df.loc[D_df['summonerName'] == name]['dragonKills'].values[0] }}
                          </div>
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/towericon.png" alt="">
                            {{ D_df.loc[D_df['summonerName'] == name]['towerKills'].values[0] }}
                          </div>
                        </div>

                        <!-- summary graph -->
                        <div class="yi-qi-fen-kai-summary-graph">
                          <div class="yi-qi-fen-kai-summary-graph-total-container">
                            <div class="graph--text graph--title">
                              Kills
                            </div>
                            <div class="graph--text graph--data graph--text--left">
                              {{ D_df.loc[D_df['summonerName'] == name]['teamTotalKills'].values[0] }}
                            </div>
                            <div class="graph--container">
                              <div class="graph--losing--team {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }} " style="flex: {{ D_df.loc[D_df['summonerName'] == name]['teamTotalKills'].values[0]}} "></div>
                              <div class="winningteam {{ '失败' if D_df.loc[D_df['summonerName'] == name]['win'].values[0] == '胜利' else '胜利' }} " style="flex: {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['teamTotalKills'].values[0] }}"></div>
                            </div>
                            <div class="graph--text graph--data graph--text--right">
                              {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['teamTotalKills'].values[0] }}
                            </div>
                          </div>
                          <div class="yi-qi-fen-kai-summary-graph-total-container">
                            <div class="graph--text graph--title">
                              Gold
                            </div>
                            <div class="graph--text graph--data graph--text--left">
                              {{ D_df.loc[D_df['summonerName'] == name]['teamTotalGold'].values[0]}}
                            </div>
                            <div class="graph--container">
                              <div class="graph--losing--team {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }} " style="flex: {{ D_df.loc[D_df['summonerName'] == name]['teamTotalGold'].values[0]}} "></div>
                              <div class="winningteam {{ '失败' if D_df.loc[D_df['summonerName'] == name]['win'].values[0] == '胜利' else '胜利' }}" style="flex: {{D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['teamTotalGold'].values[0] }}"></div>
                            </div>
                            <div class="graph--text graph--data graph--text--right">
                              {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['teamTotalGold'].values[0] }}</div>
                          </div>
                        </div>

                        <!-- team B -->
                        <div class="yi-qi-fen-kai-team">
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/baronicon.png" alt="">
                            {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['baronKills'].values[0] }}
                          </div>
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/dragonicon.png" alt="">
                            {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['dragonKills'].values[0]  }}
                          </div>
                          <div class="yi-qi-fen-kai-team-objective-score">
                            <img class="yi-qi-fen-kai-team-objective-score-image" src="/static/images/towericon.png" alt="">
                            {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['towerKills'].values[0]  }}

                          </div>
                        </div>
                      </div>

                        <table class="game_deets_table">
                          <!-- set up the width of our columns -->
                          <colgroup>
                            <col class="yi">
                            <col class="er">
                            <col class="san">
                            <col class="si">
                            <col class="wu">
                            <col class="liu">
                            <col class="qi">
                            <col class="ba">
                            <col class="jiu">
                            <col class="shi">
                            <col class="shiyi">
                          </colgroup>
                          <!-- set up table header row -->
                          <thead class="wo {{ '失败' if D_df.loc[D_df['summonerName'] == name]['win'].values[0] == '胜利' else '胜利' }} ">
                            <tr class="wo-tr">
                              <th class="wo-tr-thead" colspan="4">
                                <!-- game result of summoner's team-->
                                {{ D_df.loc[D_df['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]]['win'].values[0] }}
                              </th>
                              <th class="wo-tr-thead">
                                Tier
                              </th>
                              <th class="wo-tr-thead">
                                lr score
                              </th>
                              <th class="wo-tr-thead">
                                KDA
                              </th>
                              <th class="wo-tr-thead">
                                dmg to champions
                              </th>
                              <th class="wo-tr-thead">
                                wards
                              </th>
                              <th class="wo-tr-thead">
                                CS
                              </th>
                              <th class="wo-tr-thead">
                                items
                              </th>
                            </tr>
                          </thead>
                          <!-- now onto the actual table content -->
                          <!-- start with first 5 players -->
                          {% for i in range(0, 10): %}
                          {% if D_df.loc[i]['teamId'] != D_df.loc[D_df['summonerName'] == name]['teamId'].values[0]: %}
                          <tbody class="ni">
                            <tr class="ni-tr">
                              <td class="ni-cell">
                                <a class="ni-champ-encaser">
                                  <img class="ni-champ-image" src="{{ D_df.loc[i]['championImage'] }}">
                                  <div class="ni-champ-level">
                                     {{ D_df.loc[i]['champLevel'] }}
                                  </div>
                                </a>
                              </td>
                              <td class="ni-cell">
                                <div class="spell">
                                  <img class="ni-spell-image" src="{{ D_df.loc[i]['spell1Image'] }}" alt="">
                                </div>
                                <div class="spell">
                                  <img class="ni-spell-image" src="{{ D_df.loc[i]['spell2Image'] }}" alt="">
                                </div>
                              </td>
                              <td class="ni-cell ni-runes">
                              </td>
                              <td class="ni-cell ni-summoner-name">
                                {{ D_df.loc[i]['summonerName'] }}
                              </td>
                              <td class="ni-cell ni-rank">
                                placeholder
                              </td>
                              <td class="ni-cell ni-lr-score">
                                <div class="ni-lr-score-text">
                                  1-10
                                </div>
                                <div class="ni-lr-score-place">
                                  1st
                                </div>
                              </td>
                              <td class="ni-cell ni-KDA">
                                <span class="ni-kill">{{D_df.loc[i]['kills']}}</span>
                                <span class="ni-deaths">{{D_df.loc[i]['deaths']}}</span>
                                <span class="ni-assists">{{D_df.loc[i]['assists']}}</span>
                                <div class="ni-kda">{{D_df.loc[i]['kda']}} , {{D_df.loc[i]['killParticipation']}}%</div>
                              </td>
                              <td class="ni-cell ni-damage">
                                <div class="ni-champ-damage">
                                  {{D_df.loc[i]['totalDamageDealtToChampions']}}
                                </div>
                                <div class="ni-champ-damage-progress">
                                  <div class="ni-champ-damage-progress-full" style="width: {{D_df.loc[i]['playerDamageAsFractionOfTeamDamage']}} "></div>
                                </div>
                              </td>
                              <td class="ni-cell ni-wards">
                                <div class="ni-words-bought">
                                  {{D_df.loc[i]['visionWardsBoughtInGame']}}
                                </div>
                                <div class="ni-vision-score">
                                  vis score: {{D_df.loc[i]['visionScore']}}
                                </div>
                              </td>
                              <td class="ni-cell ni-cs">
                                <div class="ni-cs-value">
                                  {{D_df.loc[i]['totalMinionsKilled']}}
                                </div>
                                <div class="ni-cs-per-minute-value">
                                  {{D_df.loc[i]['minionsKilledPerMinute']}}/min.
                                </div>
                              </td>
                              <td class="ni-cell ni-items">
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage0'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage1'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage2'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage3'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage4'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage5'] }}" alt="">
                                </div>
                                <div class="ni-item">
                                  <img class="ni-item-image" src="{{ D_df.loc[i]['itemImage6'] }}" alt="">
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          {% endif %}
                          {% endfor %}

                        </table>
                    </div>
                    <!-- end game details -->

                  </div>

                  <div class="xgboost_result is-hidden">
                    <img class="xgboost_image" src="data:image/png;base64,{{shap_plots[a]}}">
                  </div>

                </div>
              </div>
            </div>
            {% endfor %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
  <script src="{{url_for('static', filename='js/input_handler.js')}}"></script>
</html>
